Django>=4.2,<5.0
mysqlclient>=2.2
celery[redis]>=5.3
redis>=5.0
wsgidav==4.3.4
gunicorn>=21.0
djangorestframework>=3.14
django-cors-headers>=4.3
python-decouple>=3.8
django-extensions>=3.2
qrcode[pil]>=7.4
django-two-factor-auth[totp]>=1.15
